<div class="credits">
	
	<div class="group">
		<p>Photographer</p>
		<div class="entry">Gabrielle Lurie<br>
			<a href="mailto:glurie@sfchronicle.com">glurie@sfchronicle.com</a><br>
			<a href="https://instagram.com/gabrielleluriephoto" target="_blank">@gabrielleluriephoto</a>
		</div>
	</div>

	<div class="group">
		<p>Illustrator</p>
		<div class="entry">George Russell<br> 
			<a href="mailto:grussell@sfchronicle.com">grussell@sfchronicle.com</a>
		</div>
	</div>

	<div class="group">
		<p>Designer/Developer</p>
		<div class="entry">Lucio Villa<br> 
			<a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a><br>
			<a href="https://twitter.com/luciovilla" target="_blank">@luciovilla</a>
		</div>
	</div>

</div>