<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>
    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

  <%= t.include("partials/_nav.html") %>

    <div class="container">

      <div id="header">
        <div class="hat"><img src="./assets/photos/hat.jpg"></div>
        <h1>Portraits in the power of pink</h1>
        <%= t.include("partials/_social.html") %>
        <div class="date">Jan. 30, 2017</div>
        <div class="photographer">Photos by <a href="mailto:glurie@sfchronicle.com">Gabrielle Lurie</a></div>
        <p>As millions took to the streets for women's marches around the world on Jan. 21, a new accessory emerged as the protest wear du jour: hand-knit pink "pussyhats." Chronicle photographer Gabrielle Lurie took portraits of Californians who had traveled to Washington, D.C., at a pre-march rally, and captured their reasons for participating in the record-breaking event.</p>
      </div>

      <% json.pussyhat.forEach(function(img) { %>
      <div class="<%= img.class %>">
        <div class="img">
          <img src="<%= img.img %>">
        </div>
        <div class="quote"><%= img.quote %>”<div class="home">— <%= img.name %>, <%= img.home %></div></div>
      </div>

    <% }); %>
    <div class="story-link"><p>Chronicle reporter Tony Bravo considers how a hat born out of controversy has become a powerful symbol in our country's long tradition of political activism. <a href="http://www.sfchronicle.com/style/article/Pussyhats-and-the-power-of-pink-10884232.php"><span>Read the story</span></a></p></div>
    </div>

    <%= t.include("partials/_credits.html") %>
    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
