<!doctype html>
<html>
  <head>
    <title><%= json.project.seo_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="__sync_contentCategory" content="meterA">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">

    <%= !json.project.embedded ? t.include("partials/_paywall.html") : t.include("partials/_embedframe.html") %>

    <%= t.include("partials/_head.html") %>

  </head>

  <%= !json.project.embedded ? "<body>" : "<body is='responsive-body'>" %>

  <%= t.include("partials/_nav.html") %>

    <div class="container">

      <div id="header">
        <h1>Portraits in the power of pink</h1>
        <%= t.include("partials/_social.html") %>
        <div class="date">Jan. 26, 2017</div>
        <div class="photographer">Photos by <a href="" target="_blank">Gabrielle Lurie</a></div>
        <p>These portraits are of women who travelled from California to attend the Women’s March in Washington D.C. Ahead of the march was a rally where speakers and musicians spoke to the crowd and addressed human rights issues.</p>
      </div>

      <% json.pussyhat.forEach(function(img) { %>
      <div class="<%= img.class %>">
        <div class="img">
          <img src="<%= img.img %>">
        </div>
        <div class="quote"><%= img.quote %>”<div class="home">— <%= img.name %>, <%= img.home %></div></div>
      </div>

    <% }); %>

    </div>

    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
